@import url("reset.css");

/* Base */
a {
  color: green;
}
h1 {
  color: #343434;
}
p {
  color: #676767;
}
/* -------------------------- */
[class*="__title"] {
  color: red;
}
.title {
  color: purple;
}
.footer__nav-link,
.header__nav-link {
  color: rgb(0, 98, 227);
}

/* Section-about */
.section-about__content p {
  color: blue;
}

/* Section-color */
.section-color__content span {
  color: orangered;
}

/* Section-forms */
.section-forme__image-paragraph {
  color: rgb(226, 83, 12);
}
