@import url("reset.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"),
    url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten\ Semi\ Bold.woff2") format("woff2"),
    url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"),
    url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Veriable */
:root {
  --color-primary-dark: #333333;
  --color-btn-purple: #8a33fd;
  --color-primary-light: #ffffff;
  --color-cards-dark: #2a2f2f;
  --color-cards-light: #7f7f7f;
  --color-details-dark: #3c4242;
  --color-product-light: #f6f6f6;
  --color-cart: #bebcbd;
}

/* Base */
body {
  font-family: "Causten", sans-serif;
  font-size: 18px;
  color: var(--color-primary-dark);
  margin: 0;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.main {
  overflow-x: clip;
}
[class*="__container"] {
  max-width: 77.5rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}
.section {
  margin-bottom: 6.25rem;
}
.title {
  position: relative;
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 0.98;
  letter-spacing: 0.68px;
  color: #3c4242;
  padding-left: 20px;
}
.title--decor::before {
  content: "";
  display: inline-flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: var(--color-btn-purple);
}
.purple-btn {
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  border: 1px solid var(--color-btn-purple);
  border-radius: 0.5rem;
  padding: 0.875rem 1.75rem;
  color: var(--color-primary-light);
  background-color: var(--color-btn-purple);
}
.purple-btn:hover {
  color: var(--color-btn-purple);
  background-color: transparent;
  border: 1px solid #3c4242;
  transition-duration: 0.5s;
}
/* Header */
.header {
  background-color: var(--color-primary-light);
}
.header--indent {
  margin-bottom: 6.25rem;
}
.header__container {
  padding: 2.125rem 0 1.9375rem;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}
.menu__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.25rem;
}
/* Form */

form {
  position: relative;
  width: 184px;
  margin: 0 auto;
}
input {
  width: 100%;
  height: 46px;
  padding-left: 70px;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  outline: none;
  background: #f6f6f6;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #807d7e;
}
.form__btn {
  position: absolute;
  top: 0;
  left: 0px;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #f6f6f6;
}
.form__btn:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 40px;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
}
/* Choose languague Menu */
.languague-choose {
  display: flex;
  align-items: center;
  gap: 1.1875rem;
  line-height: 1.2;
}
.languague-choose p {
  padding-left: 0.9375rem;
}
label {
  cursor: pointer;
}
ul {
  list-style: none;
}
.list {
  display: none;
}
.list li a {
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-primary-dark);
}
.list li a:hover {
  color: var(--color-btn-purple);
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .list {
  display: block;
  position: absolute;
}
.list li:not(:last-child) {
  margin-bottom: 0.25rem;
}
.button {
  display: flex;
  justify-content: center;
  gap: 1.8125rem;
}
.button__login,
.button__sign {
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  border: 1px solid var(--color-btn-purple);
  border-radius: 0.5rem;
  padding: 0.75rem 3rem;
  color: var(--color-primary-light);
  background-color: var(--color-btn-purple);
}
.button__login:hover {
  color: var(--color-btn-purple);
  background-color: transparent;
  border: 1px solid #3c4242;
  transition-duration: 0.5s;
}
.button__sign--transparent {
  background-color: transparent;
  border: 1px solid #3c4242;
  color: var(--color-btn-purple);
}
.button__sign--transparent:hover {
  color: var(--color-primary-light);
  background-color: var(--color-btn-purple);
  transition-duration: 0.5s;
}

/* Section-Categories */
.section-categories__title {
  margin-bottom: 4.375rem;
}
.section-categories__cards {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cards__list {
  display: flex;
  gap: 3.125rem;
}
.cards__content {
  max-width: 16.875rem;
}
.cards__content img {
  width: 100%;
  max-width: 16.875rem;
  margin-bottom: 1rem;
}
.cards__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards__overview {
  max-width: 179px;
}
.cards__overview h4 {
  font-weight: 700;
  line-height: 1.56; /* 156.25% */
  letter-spacing: -0.715px;
  color: var(--color-cards-dark);
  margin-bottom: 0.25rem;
}
.cards__overview a {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.08; /* 208.333% */
  letter-spacing: -0.536px;
  color: var(--color-cards-light);
  text-decoration: none;
}
.cards__overview a:hover {
  color: var(--color-primary-dark);
}
.cards__overview a:focus {
  color: var(--color-btn-purple);
}
.cards__svg:hover {
  fill: var(--color-btn-purple);
  transform: scale(1.5);
  transition-duration: 0.3s;
}
/* Section-Wishlist */

.section-wishlist__title {
  font-size: 1.75rem;
  line-height: 1.19;
  margin-bottom: 3.125rem;
  padding-left: 0;
}
.addition--indent {
  position: relative;
}
.addition--indent::before {
  content: "";
  position: absolute;
  width: 75rem;
  height: 1px;
  left: 0;
  bottom: -1.875rem;
  border-bottom: 1px solid #edeef2;
}
.addition--indent:not(:last-child) {
  margin-bottom: 60px;
}
.addition {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addition__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}
.addition__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.addition__close {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  position: relative;
  cursor: pointer;
}

.addition__close::before,
.addition__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 0.1rem;
  background-color: #2a2f2f;
  margin: -0.05rem 0 0 -0.4rem;
  transform: rotate(-45deg);
  border-radius: 0.1rem;
}
.addition__close:hover::before,
.addition__close:hover::after {
  background-color: var(--color-btn-purple);
}
.addition__close::after {
  transform: rotate(45deg);
}
.addition__text span {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.44px;
  color: #807d7e;
}
.addition__text li {
  color: #3c4242;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.addition__text li:not(:last-child) {
  margin-bottom: 0.75rem;
}
.addition__btn span {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.44px;
  color: #807d7e;
}

/* Section-Orders */
.section-orders__status {
  margin-bottom: 2.0625rem;
}
.order-status--backgraund {
  border-radius: 8px;
  background: var(--color-product-light);
  padding: 1.75rem 2.9375rem;
}
.section-orders__title {
  font-size: 28px;
  line-height: 1.19;
  margin-bottom: 2.5rem;
  padding-left: 0;
}
.order-status__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #3c4242;
  margin-bottom: 0.875rem;
}
.order-status__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-status__payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.order-status__details {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #807d7e;
}
.order-status__details span {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #bebcbd;
}
.order-status__date p:not(:last-child),
.order-status__payment p:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-orders__content:not(:last-child) {
  margin-bottom: 3.75rem;
}

.detail__content {
  display: flex;
  align-items: center;
  gap: 25px;
}

.detail__text li:first-child {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 0.625rem;
}
.detail__text li {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #3c4242;
}
.detail__text li span {
  color: var(--color-cart);
}
.detail__text li:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.detail--decor {
  position: relative;
}
.detail--decor::before {
  content: "";
  position: absolute;
  width: 75rem;
  height: 1px;
  left: 0;
  bottom: -1.875rem;
  border-bottom: 1px solid #edeef2;
}

/* CHEGO? */
.section-brand--border {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}
.section-brand__container {
  display: flex;
  align-items: center;
  gap: 191px;
}
.section-brand__text {
  position: relative;
  text-align: center;
  padding: 177px 15px;
}
.section-brand__text::after {
  content: "";
  position: absolute;
  height: 650px;
  left: 0;
  bottom: -14px;
  border-left: 1px solid #000;
}
.section-brand__photo {
  position: relative;
  padding: 49px 0;
}
.section-brand__photo img {
  position: relative;
  z-index: 4;
  left: 100px;
}
.section-brand__photo:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 650px;
  height: 650px;
  right: 0;
  bottom: 0;
  border-radius: 650px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.section-brand__text h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 22px;
}
.section-brand__text p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.42;
  letter-spacing: 0.45px;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 22px;
}

.section-brand__link {
  position: relative;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  color: #37393f;
  padding-bottom: 2px;
}
.section-brand__link:hover {
  opacity: 0.8;
}

.section-brand__link::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 1px solid #37393f;
}
.section-brand__link:hover::after {
  opacity: 0.8;
}

/* Section Collection */
.section-collection__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.section-collection__content {
  position: relative;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  padding: 44px;
  border: 1px solid #000;
}
.section-collection__title {
  font-family: "Raleway", sans-serif;
  width: 666px;
  height: 256px;
  font-size: 130px;
  font-weight: 500;
  line-height: 98.5%;
  color: #ffffff;
}
.section-collection__banner {
  position: relative;
}
.section-collection__title {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 11px;
}
.section-collection__banner img {
  position: relative;
}
.section-collection__content p {
  position: absolute;
  transform: rotate(90deg);
  right: -150px;
  bottom: 212px;
}

/* Section-Offer */
.section-offer__title {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  text-align: center;
  margin-bottom: 3.125rem;
}
.section-offer__cards {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}
.proposition__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  table-layout: fixed;
  max-width: 27.9375rem;
  border-collapse: collapse;
  border: 1px solid #000;
  padding: 1.75rem 0.625rem 0.875rem;
}
/* Footer */
.footer {
  padding: 2rem 0;
  background-color: #fadadd;
}
.footer__container {
  display: flex;
  gap: 20px;
}

.footer__nav,
.footer-address {
  display: flex;
  gap: 166px;
  flex-basis: 50%;
}
.footer__logo,
.footer-item {
  flex-grow: 1;
}
.footer-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 211px;
}
.footer-item:not(:last-child) {
  padding-bottom: 16px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #ff1694;
}
.footer-link:hover {
  color: #e11584;
}
.footer-address__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  gap: 16px;
}
.footer-address__link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #ff1694;
}
.footer-address__link:hover {
  color: #e11584;
}
.footer-address__info {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #ff1694;
}
.footer__icon {
  display: flex;
  gap: 22px;
  fill: #ff1694;
}
.fb-icon:hover,
.inst-icon:hover {
  fill: #e11584;
  transform: scale(1.5);
}
