.section-new {
  &--ident {
    margin-bottom: 95px;
  }
  &__container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
    color: $brand-dark;
    font-family: "Core Sans C";
  }

  &__title {
    margin-bottom: 70px;
    &--decor {
      background: url(../img/rectangle-purple.svg) 0 2px no-repeat;
      padding-left: 15px;
    }
  }
  &__title h3 {
    font-size: 34px;
    font-weight: 600;
    line-height: 0.98; /* 98.529% */
    letter-spacing: 0.68px;
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
    gap: 38px;
  }
  &__card img {
    width: 100%;
    aspect-ratio: 263/263;
    object-fit: contain;
    margin-bottom: 32px;
  }
  &__card p {
    font-family: "Causten";
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.2px;
    color: $brand-dark;
  }
}
