.top {
  background: url("../img/top.png") no-repeat;
  background-position: center top;
  background-size: cover;
  &__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__inner {
    min-height: 800px;
    color: $brand-light;
    font-family: "Core Sans C";
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__inner h4 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.157px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  &__inner h2 {
    font-weight: 800;
    max-width: 439px;
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.315px;
    text-align: left;
    margin-bottom: 20px;
  }
  &__inner p {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: 0.315px;
    margin-bottom: 40px;
  }
  &__link {
    display: inline-block;
    max-width: 250px;
    border-radius: 8px;
    background: #fff;
    color: #3c4242;
    text-align: center;
    font-family: "Causten";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    padding: 16px 72px;
    &:hover {
      background: $dark-grey;
      color: $brand-light;
    }
  }
}
