@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");

@font-face {
  font-family: "Product Sans Infanity";
  src: url("../fonts/ProductSansInfanity.woff2") format("woff2"),
    url("../fonts/ProductSansInfanity.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
