// Header
$backgraund-light: #fff9f4;
$burger-header: #502203;
$hover-list: #d58417;
$red-circle: #ff3333;
$blue-dark: #04011f;
$links-color: #fac70f;
$brand-grey: #bcbcbc;

// Hero-color
$brand-dark: #000;
$brand-light: #fff;

// Breakpoint

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1050px;
$breakpoint_l: 750px;
$breakpoint_m: 550px;
$breakpoint_s: 480px;
$breakpoint_xs: 350px;
