@import "./breakpoint";

@include desktop {
  .card {
    &__content {
      @include grid(3, 3%);
      &:nth-child(3n + 1) {
        margin-right: 3%;
      }
    }
  }
}

@include laptopxl {
  .menu {
    margin-right: 0;
    order: -1;
    &__list {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 300px;
      margin: 0 auto;
      background-color: #fff;
      display: block;
      text-align: center;
      padding-top: 60px;
      transform: translateY(-100%);
      transition: transform, 0.7s ease;
    }
    &__item {
      font-size: 24px;
      font-family: "Comorant", serif;
      margin-bottom: 30px;
    }
  }
  .menu__btn {
    display: flex;
    flex-wrap: wrap;
  }
  .close__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    width: 40px;
  }

  .menu__list.menu__list--open {
    transform: translateY(0);
  }

  .mobile-menu {
    padding-top: 60px;
    margin: 60px 30px;
    border-top: 2px solid $brand-dark;
    &__item {
      margin-bottom: 35px;
    }
  }
  .mobile-actions {
    background-color: $brand-dark;
    height: 60px;
    padding: 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav,
  .menu__close {
    display: block;
  }
  .logo {
    margin-left: 50px;
    margin-right: auto;
  }
  .section-new__body {
    gap: 30px;
  }
  .card {
    font-size: 14px;
    &__content {
      @include grid(3, 3%);
      &:nth-child(3n + 1) {
        margin-right: 3%;
      }
    }
  }
}

@include laptopl {
}

@include tablet {
  .form {
    display: none;
  }
  .top {
    background-image: none;
    background-color: $light-blue;
    &__inner h2 {
      font-size: 48px;
    }
    &__inner {
      min-height: 600px;
    }
  }
  .banner__container {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 12px;
    }
  }
  .second-section {
    &--ident {
      margin-bottom: 30px;
    }
  }
  .section-new {
    &--ident {
      margin-bottom: 70px;
    }
    &__body {
      gap: 25px;
    }

    &__title {
      margin-bottom: 40px;
    }
    &__card p {
      font-size: 30px;
    }
  }
  .card {
    &__overview a {
      font-size: 12px;
    }
    &__content {
      @include grid(2, 4%);
      &:nth-child(2n + 1) {
        margin-right: 4%;
      }
    }
  }
}
@include mobilel {
  .top {
    &__inner h2 {
      font-size: 40px;
    }
    &__inner h4 {
      font-size: 25px;
      font-weight: 500;
    }
    &__inner p {
      font-size: 25px;
    }
  }
  .second-section {
    &__body {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-rows: 356px;
    }
  }
  .card {
    &__content {
      @include grid(2, 7%);
      &:nth-child(2n + 1) {
        margin-right: 7%;
      }
    }
  }
  .grid-section {
    &__title {
      font-size: 29px;
      margin-bottom: 38px;
    }
  }
}

@include mobilexs {
  .logo {
    margin-left: 30px;
  }
  .top {
    &__inner p {
      font-size: 22px;
    }
    &__inner {
      min-height: 450px;
    }
    &__link {
      max-width: 200px;
      padding: 15px 30px;
    }
  }
  .second-section {
    &__body {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
  }
  .section-new {
    &__card img {
      margin-bottom: 15px;
    }
    &__card p {
      font-size: 25px;
    }
  }
}
