@mixin grid($cols, $margin) {
  float: left;
  margin-right: $margin;
  margin-bottom: $margin;
  max-height: 440px;
  width: ((100% -(($cols - 1) * $margin)) / $cols);

  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
