// Hero-color
$brand-dark: #000;
$brand-light: #fff;
$brand-grey: #807d7e;
$dark-grey: #3c4242;
$light-blue: #00b5da;
$grey-card: #7f7f7f;

// Breakpoint

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1050px;
$breakpoint_l: 750px;
$breakpoint_m: 550px;
$breakpoint_s: 480px;
$breakpoint_xs: 350px;
